.modal-lg {
    max-width: 80% !important;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.content {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-wrapper {
    font-size: 40px;
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}
.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}
.slider-text1 {
    background: #13aa52;
    animation: slide 5s linear infinite;
}
.slider-text2 {
    background: #4479a1;
}
.slider-text3 {
    background: lightcoral;
}
@keyframes slide {
    0% {margin-top: -300px;}
    5% {margin-top: -200px;}
    33% {margin-top: -200px;}
    38% {margin-top: -100px;}
    66% {margin-top: -100px;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

button.tabledit-edit-button::before {
    content: "\f044";
    font-family: "Font Awesome 5 Free" ,sans-serif;
    color: #fffff;
}
button.tabledit-cancel-button::before {
    content: "\f044";
    font-family: "Font Awesome 5 Free" ,sans-serif;
    color: #fffff;
}
button.tabledit-save-button::before {
    content: "\f0c7";
    font-family: "Font Awesome 5 Free" ,sans-serif;
}

.fa-key{
    color: #ffb100;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary {
    box-shadow:0 0 0 1px #8283e8 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #8283e8, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
    background: -moz-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7ce2', endColorstr='#575cdb',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
    background: -moz-linear-gradient(-45deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ac50', endColorstr='#05ac50',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
    background: -moz-linear-gradient(-45deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #01a8c1 0%,#2adbf7 50%,#00b5d1 51%,#0aafc9 71%,#0599b1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #01a8c1 0%,#2adbf7 50%,#00b5d1 51%,#0aafc9 71%,#0599b1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a8c1', endColorstr='#0599b1',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
    background: -moz-linear-gradient(-45deg, #e5ae09 0%, #ffd044 50%, #ffc107 51%, #fc9014 71%, #f1890b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e5ae09 0%,#ffd044 50%,#ffc107 51%,#fc9014 71%,#f1890b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e5ae09 0%,#ffd044 50%,#ffc107 51%,#fc9014 71%,#f1890b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ae09', endColorstr='#f1890b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    color: #fff !important;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
    background: -moz-linear-gradient(-45deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81216', endColorstr='#fc1b21',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
.btn-secondary {
    box-shadow:0 0 0 1px #6c757d inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #6c757d, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#6c757d;
    background: -moz-linear-gradient(-45deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797b7f', endColorstr='#828589',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
.btn-dark {
    box-shadow:0 0 0 1px #23272b inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #23272b, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#23272b;
    background: -moz-linear-gradient(-45deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #343a40 0%,#667584 50%,#4e5256 51%,#242a30 71%,#343a40 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #343a40 0%,#667584 50%,#4e5256 51%,#242a30 71%,#343a40 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#343a40',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}
 @-moz-keyframes AnimationName {
     0%{
        background-position:0% 31%
    }
     50%{
        background-position:100% 70%
    }
     100%{
        background-position:0% 31%
    }
}
 @keyframes AnimationName {
     0%{
        background-position:0% 31%
    }
     50%{
        background-position:100% 70%
    }
     100%{
        background-position:0% 31%
    }
}
.Cube {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  color: #333;
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 65px;
  opacity: 1;
}
.Cube.panelLoad {
  z-index: 11;
  top: 50%;
  margin-top: -60px;
  -webkit-animation: panel 2.2s infinite forwards;
  animation: panel 2.2s infinite forwards;
}
.Cube.panelLoad .cube-face {
  color: black;
  box-shadow: inset 0 0 0 1px #111, 0 0 1px 1px #111;
}
.Cube .cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: white;
  box-shadow: inset 0 0 0 1px #333, 0 0 1px 1px #333;
  opacity: 1;
}
.Cube .cube-face-front {
  transform: translate3d(0, 0, 40px);
  -webkit-transform: translate3d(0, 0, 40px);
  font-size: 57px;
}
.Cube .cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
  transform: rotateY(180deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
  transform: rotateY(-90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
  transform: rotateY(90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
  transform: rotateX(90deg) translate3d(0, 0, 40px);
}
.Cube .cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
  transform: rotateX(-90deg) translate3d(0, 0, 40px);
}

@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}
@keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
    transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateZ(360deg);
  }
}


/*toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderc {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderc:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderc {
  background-color: #2196F3;
}

input:focus + .sliderc {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderc:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderc.round {
  border-radius: 34px;
}

.sliderc.round:before {
  border-radius: 50%;
}
