@*@(tables: Array[String], form: Form[WidgetForm.Data])(implicit request: RequestHeader, messagesProvider: MessagesProvider)*@

@*@main("Welcome to Play") {*@
    @*<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">*@

    @*<div class="container">*@
        @*<section class="form-connect">*@
        @*@helper.form(action = routes.HomeController.connect()) {*@
            @*@helper.CSRF.formField*@

            @*<div class="form-row">*@
                @*<div class="form-group col-md-6">*@
                    @*@helper.inputText(form("hostname"), 'class -> "form-control")*@
                @*</div>*@
                @*<div class="form-group col-md-6">*@
                    @*@helper.inputText(form("port"), 'class -> "form-control")*@
                @*</div>*@
            @*</div>*@
            @*<div class="form-group">*@
                @*@helper.inputText(form("username"), 'class -> "form-control")*@
            @*</div>*@
            @*<div class="form-group">*@
                @*@helper.inputText(form("password"), 'class -> "form-control")*@
            @*</div>*@
            @*<div class="form-group">*@
                @*@helper.inputText(form("database"), 'class -> "form-control")*@
            @*</div>*@



            @*<button>Connect</button>*@
        @*}*@
        @*</section>*@
    @*</div>*@


@*}*@
